# 2번

예측 변수 price, test.csv에 대해 ID별로 price 값을 예측하여 제출, 제출 데이터 컬럼은 ID와 price 두개만 존재해야함. 평가지표는 rmse

① 데이터 전처리(결측치 또는 이상치 제거나 대체)

② 파생변수 생성

③ 데이터 불균형 해소(Over Sampling) 

④ 분포 변환(데이터의 산포에 따라 Min-Max, Standard, Robust Scale 사용)

⑤ 모델링(랜덤포레스트 추천)

⑥ 성능 확인(auc)

⑦ test셋 예측값(class 또는 probability) 생성

⑧ 제시된 형태로 답안 만들기

In [ ]:
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error
# from sklearn.ensemble import RandomForestRegressor
# import numpy as np
# y = train['price']
# x = train.drop(columns =['price','ID'])
# test_x = test.drop(columns =['ID'])


# dum_x = pd.get_dummies(x)


# # train에는 있고, test에는 없는 데이터 존재 컬럼숫자가 다름 -> reindex해줘야함
# dum_test = pd.get_dummies(test_x)
# dum_test = dum_test.reindex(columns = dum_x.columns, fill_value=0)



# x_train,x_test,y_train,y_test = train_test_split(dum_x,y)


# rr = RandomForestRegressor()
# rr.fit(x_train,y_train)


# pred = rr.predict(x_test)
# print('test rmse', np.sqrt(mean_squared_error(y_test,pred)))


# pred_test = rr.predict(dum_test)

# sumission = pd.DataFrame()
# sumission['ID'] = test['ID']
# sumission['price']  = pred_test
# sumission.head()
# # sumission.to_csv('00000000.csv',index=Fasle)

In [10]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error

In [15]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [16]:
print(train.head())

      ID      model  year  price transmission  mileage fuelType  tax   mpg  \
0  10170    A Class  2012  11940    Automatic    46000   Diesel   30  64.2
1   9551   CL Class  2020  38624    Semi-Auto       19   Petrol  150  36.7
2   1790    A Class  2013   8500       Manual    69031   Petrol  125  51.4
3  10018    B Class  2015  13998    Automatic    34739   Diesel  125  56.5
4    142    E Class  2017  20998    Semi-Auto    21352   Diesel   20  72.4

   engineSize
0         2.1
1         2.0
2         1.6
3         2.1
4         2.0

In [17]:
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9823 entries, 0 to 9822
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            9823 non-null   int64
 1   model         9823 non-null   object
 2   year          9823 non-null   int64
 3   price         9823 non-null   int64
 4   transmission  9823 non-null   object
 5   mileage       9823 non-null   int64
 6   fuelType      9823 non-null   object
 7   tax           9823 non-null   int64
 8   mpg           9823 non-null   float64
 9   engineSize    9823 non-null   float64
dtypes: float64(2), int64(5), object(3)
memory usage: 767.5+ KB
None

In [18]:
print(train.isnull().sum(), "\n", test.isnull().sum())

ID              0
model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64
 ID              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [19]:
print(train.shape, test.shape)

(9823, 10) (3296, 9)

In [22]:
print(train.describe())

                 ID         year          price        mileage          tax  \
count   9823.000000  9823.000000    9823.000000    9823.000000  9823.000000
mean    6537.860328  2017.291764   24725.670671   21920.129797   129.983712
std     3788.746072     2.239658   11849.430688   21266.824972    64.754362
min        1.000000  1970.000000     650.000000       1.000000     0.000000
25%     3247.500000  2016.000000   17450.000000    6058.500000   125.000000
50%     6516.000000  2018.000000   22480.000000   15181.000000   145.000000
75%     9816.500000  2019.000000   28990.000000   31695.500000   145.000000
max    13118.000000  2020.000000  154998.000000  259000.000000   580.000000

               mpg   engineSize
count  9823.000000  9823.000000
mean     55.086633     2.073073
std      15.343101     0.572922
min       1.100000     0.000000
25%      45.600000     1.800000
50%      56.500000     2.000000
75%      64.200000     2.100000
max     217.300000     6.200000

In [21]:
test.describe()

,ID,year,mileage,tax,mpg,engineSize
count,3296.000000,3296.000000,3296.000000,3296.000000,3296.000000,3296.000000
mean,6622.002124,2017.309769,22037.266383,129.937803,55.362106,2.066930
std,3782.754723,2.179831,20907.995253,66.755305,14.847783,0.571008
min,0.000000,1998.000000,9.000000,0.000000,20.500000,0.000000
25%,3361.500000,2016.000000,6154.500000,125.000000,45.600000,1.600000
50%,6680.500000,2018.000000,15215.500000,145.000000,56.500000,2.000000
75%,9892.250000,2019.000000,32000.000000,145.000000,64.200000,2.100000
max,13112.000000,2020.000000,130000.000000,580.000000,188.300000,6.200000

# 레이블 인코딩

In [24]:
categorical = ["model", "transmission", "fuelType"]

combined_data = pd.concat([train[categorical], test[categorical]], axis=0)

label_encoders = {}

In [27]:
for feature in categorical:
    label_encoder = LabelEncoder()
    combined_data[feature + "_combined"] = label_encoder.fit_transform(combined_data[feature])
    label_encoders[feature] = label_encoder
    
print(combined_data.shape)

(13119, 6)

In [28]:
for feature in categorical:
    train[feature] = combined_data[feature + "_combined"][:len(train)]
    test[feature] = combined_data[feature + "_combined"][len(train):]

print(train.info(), test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9823 entries, 0 to 9822
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            9823 non-null   int64
 1   model         9823 non-null   int32
 2   year          9823 non-null   int64
 3   price         9823 non-null   int64
 4   transmission  9823 non-null   int32
 5   mileage       9823 non-null   int64
 6   fuelType      9823 non-null   int32
 7   tax           9823 non-null   int64
 8   mpg           9823 non-null   float64
 9   engineSize    9823 non-null   float64
dtypes: float64(2), int32(3), int64(5)
memory usage: 652.4 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3296 entries, 0 to 3295
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            3296 non-null   int64
 1   model         3296 non-null   int32
 2   year          3296 non-null   int64
 3   transmission  3296 non-null   int32
 4   mileage       3296 non-null   int64
 5   fuelType      3296 non-null   int32
 6   tax           3296 non-null   int64
 7   mpg           3296 non-null   float64
 8   engineSize    3296 non-null   float64
dtypes: float64(2), int32(3), int64(4)
memory usage: 193.2 KB
None None

C:\Users\lovej\AppData\Local\Temp\ipykernel_7928\2807718075.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  train[feature] = combined_data[feature + "_combined"][:len(train)]
C:\Users\lovej\AppData\Local\Temp\ipykernel_7928\2807718075.py:3: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  test[feature] = combined_data[feature + "_combined"][len(train):]

In [35]:
x = train.drop(columns=["ID", "price"])
y = train["price"]
test_x = test.drop(columns=["ID"])

x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2)

In [40]:
from sklearn.ensemble import RandomForestRegressor

rr = RandomForestRegressor()
rr.fit(x_train, y_train)

RandomForestRegressor()

In [43]:
predict = rr.predict(x_val)
print('val rmse', np.sqrt(mean_squared_error(y_val,predict)))

val rmse 2870.60646499614

In [44]:
predict_test = rr.predict(test_x)

In [47]:
# sumission = pd.DataFrame()
# sumission['ID'] = test['ID']
# sumission['price']  = pred_test
# sumission.head()
# # sumission.to_csv('00000000.csv',index=Fasle)

submission = pd.DataFrame()
submission["ID"] = test["ID"]
submission["price"] = predict_test
print(submission.head())
submission.to_csv("ex.csv", index=False)

   ID     price
0   0   4372.05
1   2  74755.15
2  14  16659.77
3  15  13723.39
4  18  15531.22

In [48]:
submission.describe()

                 ID          price
count   3296.000000    3296.000000
mean    6622.002124   24608.248690
std     3782.754723   11493.942779
min        0.000000    2932.470000
25%     3361.500000   17685.200000
50%     6680.500000   22267.205000
75%     9892.250000   28762.002500
max    13112.000000  137205.620000