In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [4]:
data.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

Q6. Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [7]:
data.sort_values(by='Attack', ascending=False)[:400]['Legendary'].value_counts()

False    339
True      61
Name: Legendary, dtype: int64

In [8]:
data.sort_values(by='Attack', ascending=False)[400:]['Legendary'].value_counts()

False    396
True       4
Name: Legendary, dtype: int64

In [9]:
61-4

57

Q7. Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [18]:
data.groupby('Type 1')['Total'].mean().sort_values(ascending=False).index[2]

'Flying'

Q8. 결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [22]:
data.dropna()[:int(414*0.6)]['Defense'].quantile(0.25)

50.0

Q9. Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [25]:
Fire_mean = data[data['Type 1']=='Fire']['Attack'].mean()

In [30]:
len(data[(data['Type 1'] == 'Water') & (data['Attack'] >= Fire_mean)])

37

Q10. 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [31]:
data.Generation.value_counts()

1    166
5    165
3    160
4    121
2    106
6     82
Name: Generation, dtype: int64

In [44]:
ge = data.groupby('Generation')[['Speed', 'Defense']].mean().reset_index()

In [45]:
ge['result'] = abs(ge['Speed']-ge['Defense'])

In [49]:
ge.sort_values('result', ascending=False)

   Generation      Speed    Defense     result
1           2  61.811321  73.386792  11.575472
5           6  66.439024  76.682927  10.243902
2           3  66.925000  74.100000   7.175000
3           4  71.338843  78.132231   6.793388
4           5  68.078788  72.327273   4.248485
0           1  72.584337  70.861446   1.722892

In [50]:
print(2)

2